
header {
 
text-align: right;
margin: 10px;
padding: 10px;

border: 3px solid #ffffff;
position: center ;

border-radius: 80px;
background: #ffffff;
background: linear-gradient(180deg, rgb(214, 220, 240) 0%, rgb(28, 65, 133) 24%, rgb(75, 105, 156) 75%, #1a3463 100%);
 transition: 0.3s;
}


 

     .center {
  width: auto;
  padding: 20px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  margin: 10px;
  text-align: center;
  flex: auto;
    }

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
 
    color: #7d95dd;
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(200, 214, 250, 1) 96%);
  
  font-size: 20px;

  margin: 10px;

  flex: auto;

  opacity: 0;

  animation: fadeIn 1s forwards;

 

   background-repeat: no-repeat;
  background-attachment: fixed;
  
    
}

h1 {
  color: #7d95dd;
  text-align: center;
  font-family: 'Bruno Ace', sans-serif;
  transition: 1.3s;
  text-shadow: 2px 2px 4px #00000044;


}

h2 
{
  color: #dce6ff;
  text-align: center;
  font-family: 'DM Mono', monospace;
   transition: 1.3s;
   text-shadow: 2px 2px 4px #000000;
  
}

p {
    color: #6f90c9;
  font-family: "DM Mono", monospace;
  font-weight: 10;
  font-style: normal;
  font-size: 20px;
  transition: 0.3s;

}

  

  button {
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3869a1;
}








.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul.topnav {
  display: flex;
   color: #f1f1f1;
  list-style-type: none;
  justify-content: left; 
  justify-content: space-evenly; 
   position:absolute;

  border: 2px solid #ffffff;
  border-radius: 10px;
  background: #ffffff;
background: linear-gradient(180deg, rgb(177, 191, 240) 0%, rgb(97, 133, 199) 24%, rgb(134, 172, 238) 75%, #b4ceff 100%);
  margin: 0;
  padding: 0;
  z-index: 4;
  transition: 0.3s;

}

ul.topnav li a {
  display: block;
  color: #ffffff;
 
  padding: 14px 16px;
  text-decoration: none;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
 
transition: 0.3s;}
 
  


ul.topnav li a:hover {
  background: #ffffff;
background: linear-gradient(180deg, rgb(164, 183, 243) 0%, rgb(90, 121, 179) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  color: rgb(255, 255, 255);
  border: 1px solid ;
  border-radius: 30px;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s;
  text-shadow: 2px 2px 4px #000000;
  

}

.rotate {
  animation: rotate 20s infinite linear; 
}

 .carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    }

@keyframes rotate {
 	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
}
}

 @keyframes fadeIn {
            to {
                opacity: 1;
  
            }

          }

          
.group {
    will-change: transform; 
    animation: scrolling 10s linear infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }          


 .row > .column {
  padding: 0 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


.column {
  float: left;
  width: 25%;
  padding: 10px;
}


.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}








.imgshadow { 
  filter: drop-shadow(-1px 1px 6px #000b22);
}

img {
border-radius: 20px;

}
