
header {
 
text-align: center;
padding: 30px;
border: 3px solid #ffffff;
border-radius: 30px;
background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(220, 232, 255) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
transition: 0.3s;
}

  .left {
  width: 370px;
  height: 350px;
  padding: 10px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(220, 232, 255) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  margin: 10px;
  flex: auto;
  float:left
    }


    .right {
  width: 370px;
  background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(220, 232, 255) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  height: 350px;
  padding: 10px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  margin: 10px;
  float: right
    }

     .center {
  width: 420px;
  height: 550px;
  padding: 10px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  margin: 10px;
  text-align: center;
    }

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  transition: 8.3s;
  color: #aebce2;
background: #c3d5f7;
 font-size: 20px;
  transition: 0.3s;
  flex: auto;
}

h1 {
  color: #aebce2;
  text-align: center;
  font-family: 'DM Mono' , monospace;
  transition: 1.3s;

}

h2 
{
  color: #aebce2;
  text-align: center;
  font-family: 'DM Mono', monospace;
   transition: 1.3s;
}

p {
  color: #ffffff;
  font-family: "DM Mono", monospace;
  font-weight: 10;
  font-style: normal;
  font-size: 20px;

}

  html {
     height: auto;
     min-height: 100%;
  }

  button {
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3869a1;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}


ul.topnav {
  display: flex;
   color: #f1f1f1;
  list-style-type: none;
  justify-content: left; 
  justify-content: space-evenly; 

  border: 3px solid #ffffff;
  border-radius: 30px;
  background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(220, 232, 255) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  margin: 0;
  padding: 0;

}

ul.topnav li a {
  display: block;
  color: #ffffff;
 
  padding: 14px 16px;
  text-decoration: none;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
transition: 0.3s;}
 
  


ul.topnav li a:hover {
  background: #ffffff;
background: linear-gradient(180deg, rgb(164, 183, 243) 0%, rgb(90, 121, 179) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  color: rgb(255, 255, 255);
  border: 1px solid ;
  border-radius: 30px;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s;

}



