
header {
 
text-align: right;
margin: 10px;
padding: 10px;

border: 3px solid #ffffff;
position: center ;

border-radius: 80px;
background: #ffffff;
background: linear-gradient(180deg, rgb(164, 183, 243) 0%, rgb(90, 121, 179) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
 transition: 0.3s;
}


  .left {
  width: 370px;
  height: 450px;
  padding: 10px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
 background: #ffffff;
background: linear-gradient(180deg, rgb(205, 216, 255) 0%, rgb(90, 121, 179) 24%, rgb(61, 119, 219) 75%, #4974cf 100%);
  margin: 10px;
  flex: auto;
  float:left
    }


    .right {
  width: 370px;
  background: #ffffff;
background: linear-gradient(180deg, rgb(205, 217, 255) 0%, rgb(90, 121, 179) 24%, rgb(34, 93, 194) 75%, #4974cf  100%);
  height: 450px;
  padding: 10px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  margin: 10px;
  flex: auto;
  float: right
    }

     .center {
  width: auto;
  padding: 20px;
  border: 2.5px solid #ffffff;
  border-radius: 80px;
  margin: 10px;
  text-align: center;
  flex: auto;
    }

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
 
  color: #d8e2ff; 
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(214, 224, 255, 1) 19%, rgba(97, 130, 212, 1) 74%, rgba(107, 151, 232, 1) 94%, rgba(107, 151, 232, 1) 100%);
  
  font-size: 20px;

  margin: 0;

  flex: auto;

  opacity: 0;

  animation: fadeIn 2s forwards;

  border: 2.5px solid #ffffff;
  border-radius: 80px;

   background-repeat: no-repeat;
  background-attachment: fixed;
  
    
}

h1 {
  color: #eff3ff;
  text-align: center;
  font-family: 'Bruno Ace', sans-serif;
  transition: 1.3s;
  text-shadow: 2px 2px 4px #000000;


}

h2 
{
  color: #dce6ff;
  text-align: center;
  font-family: 'DM Mono', monospace;
   transition: 1.3s;
   text-shadow: 2px 2px 4px #000000;
  
}

p {
  color: #ffffff;
  font-family: "DM Mono", monospace;
  font-weight: 10;
  font-style: normal;
  font-size: 20px;
  transition: 0.3s;

}

  

  button {
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3869a1;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul.topnav {
  display: flex;
   color: #f1f1f1;
  list-style-type: none;
  justify-content: left; 
  justify-content: space-evenly; 
   position:absolute;

  border: 3px solid #ffffff;
  border-radius: 30px;
  background: #ffffff;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(220, 232, 255) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  margin: 0;
  padding: 0;
  z-index: 4;
  transition: 0.3s;

}

ul.topnav li a {
  display: block;
  color: #ffffff;
 
  padding: 14px 16px;
  text-decoration: none;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
 
transition: 0.3s;}
 
  


ul.topnav li a:hover {
  background: #ffffff;
background: linear-gradient(180deg, rgb(164, 183, 243) 0%, rgb(90, 121, 179) 24%, rgb(186, 204, 236) 75%, #c3d5f7 100%);
  color: rgb(255, 255, 255);
  border: 1px solid ;
  border-radius: 30px;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  transition: 0.3s;
  text-shadow: 2px 2px 4px #000000;
  

}

.rotate {
  animation: rotate 20s infinite linear; 
}

@keyframes rotate {
 	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
}
}

 @keyframes fadeIn {
            to {
                opacity: 1;
  
            }

          }

 .row > .column {
  padding: 0 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

 /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} 


